body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	color: #BCBBBB;
	background-color: #000000;
}

hr {
	border: 1px solid #BCBBBB;
}

.modal {
	background-color: #000000;
	color: #BCBBBB;
}

.text-muted {
	color: #676565;
}

.text-thin {
	font-weight: 300;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}

.featured-work {
	margin: auto;
}

